{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Biblioteca App{% endblock title %}</title>
</head>
<body>
    <br />
    <a href="{% url 'clientes:list_clientes' %}" ><button>Clientes</button></a>
    <a href="{% url 'bibliotecarios:list_bibliotecarios' %}" ><button>Bibliotecarios</button></a>
    <a href="{% url 'categorias:list_categorias' %}" ><button>Categorias</button></a>
    <a href="{% url 'autores:list_autores' %}" ><button>Autores</button></a>
    <a href="{% url 'editoras:list_editoras' %}" ><button>Editoras</button></a>
    <a href="{% url 'livros:list_livros' %}" ><button>Livros</button></a>
    <a href="{% url 'emprestimos:list_emprestimos' %}" ><button>Emprestimos</button></a>
    <br />
    
    {% block body %}
    
    {% endblock body %}
    
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>