header {
    display: flex;
    gap: 8px;
    background-color: lightblue;
    min-height: 64px;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.header-btn {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .8px; 
}

.page_content {
    margin: 16px;
}

.page_content table {
    background-color: rgb(223, 243, 250);
}

.page_content table th,
.page_content table td {
    padding: 6px 16px;
}