{% extends 'base.html' %}

{% block title %}
  Adicionar Cliente - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <b>Cadastro de Clientes</b>
  <br />
  <br />
  <form action="" method="POST">
    {% csrf_token %}
    <label>Nome:</label>
    <br />
    {{ form.first_name }}
    <br />
    <label>Sobrenome:</label>
    <br />
    {{ form.last_name }}
    <br />
    <label>Celular:</label>
    <br />
    {{ form.cell_phone }}
    <br />
    <label>Email:</label>
    <br />
    {{ form.email }}
    <br />
    <label>Endereco:</label>
    <br />
    {{ form.address }}
    <br />
    <label>Genero:</label>
    <br />
    {{ form.gender }}
    <br />
    <br />
    <button type="submit">Salvar</button>
  </form>
{% endblock %}