{% extends 'base.html' %}

{% block title %}
  Lista de Clientes - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
    <a class="quick-btn" href="{% url 'clientes:add_cliente' %}"><span class="material-symbols-outlined">addgroup</span>Adicionar novo Cliente</a>
  <br />
  <br />
  <b>Lista de Clientes</b>
  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Endereco</th>
        <th scope="col">Genero</th>
        <th scope="col">--</th>
        <th scope="col">--</th>
        <th scope="col">--</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <th>{{ cliente.id }}</th>
          <td>{{ cliente.first_name }}</td>
          <td>{{ cliente.last_name }}</td>
          <td>{{ cliente.cell_phone }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.address }}</td>
          <td>{{ cliente.gender }}</td>
          <td>
            <a href="{% url 'clientes:edit_cliente' cliente.id %}">Editar</a>
          </td>
          <td>
            <a href="{% url 'clientes:delete_cliente' cliente.id %}" >Excluir</a>
          </td>
          <td>   
            <a href="{% url 'emprestimos:add_emprestimo' cliente.id %}">Fazer Emprestimo</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}